* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"], input[type="text"] {
    cursor: pointer;
    border: none;
    outline: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}


#img-galerie-hebergement-1{
    background-image:url('format-small/marcus-loke-small.jpg');
}

#img-galerie-hebergement-2{
    background-image:url('format-small/fred-kleber-small.jpg');
}

#img-galerie-hebergement-3{
    background-image:url('format-small/reisetopia-small.jpg');
}

#img-galerie-hebergement-4{
    background-image:url('format-small/annie-spratt-small.jpg');
}

#img-galerie-hebergement-5{
    background-image:url('format-small/nicate-lee-small.jpg');
}
#img-galerie-hebergement-6{
    background-image:url('format-small/febrian-zakaria-small.jpg');
}


#img-galerie-populaire-1{
    background-image:url('format-small/emile-guillemot-small.jpg');
}

#img-galerie-populaire-2{
    background-image:url('format-small/aw-creative-small.jpg');
}


#img-galerie-populaire-3{
    background-image:url('format-small/febrian-zakaria-2-small.jpg');
}


#img-galerie-activite-1{
    background-image:url('format-large/reno-laithienne-large.jpg');
}
#img-galerie-activite-2{
    background-image:url('format-large/paul-hermann-large.jpg');
}

#img-galerie-activite-3{
    background-image:url('format-large/kevin-hikari-large.jpg');
}

#img-galerie-activite-4{
    background-image:url('format-large/kilyan-sockalingum-large.jpg')
}

#img-galerie-activite-5{
    background-image:url('format-large/florian-wehde-large.jpg');
}

#img-galerie-activite-6{
    background-image:url('format-large/lena-paulin-large.jpg');
}







nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px 0px 40px;
}

#inscription:nth-child(1) {
    order: 3;
}

#inscription {
    color: #0065FC;
    font-weight: bold;
    text-align: end;
    padding: 0px 30px 0px 30px;
}

header#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    width: 60%;
}

a#hebergement-ancre {
    color: #000000;
    padding: 30px 30px 0px 30px;
}

a#activite-ancre {
    color: #000000;
    padding: 30px 30px 0px 30px;
}

a#activite-ancre:hover {
    color: #0065FC;
}

a#hebergement-ancre:hover {
    color: #0065FC;
}

a#inscription:hover {
    color: #000000;
}

nav ul li a:hover {
    border-top: 4px solid #0065FC;
}

.box-bienvenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    margin: 20px 0px 0px 20px;
    padding-left: 20px;
}

section h2 {
    padding-bottom: 10px;
    width: 100%;
}

.box-bienvenu p {
    font-weight: 300;
}

.box-recherche {
    display: flex;
    justify-content: flex-start;
    height: 45px;
    width: min-content;
    margin: 20px 20px 10px 0px;
    border-radius: 15px;
    transition: box-shadow 0.5s;
}

#bar-recherche {
    border: 1px solid #F2F2F2;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
    width: 160px;
}

::placeholder {
    text-align: left;
}

.box-recherche:hover #bar-recherche {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.box-recherche:hover .fa-map-marker-alt {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.box-recherche:hover #btn-rechercher {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.box-recherche ::placeholder {
    font-weight: lighter;
}

#btn-rechercher {
    cursor: pointer;
    background-color: #0065FC;
    color: #ffffff;
    border-radius: 0px 15px 15px 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#btn-rechercher .fa-search {
    display: none;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    line-height: 45px;
    text-align: center;
    border-radius: 15px 0px 0px 15px;
    width: 45px;
}

#filtre-titre {
    /**/
    display: flex;
}

.box-filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 10px 0px;
    width: 65%;
    border-radius: 10px;
}

.box-btn-filtre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    width: auto;
    padding: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.box-btn-filtre:hover {
    border: 2px #0065FC solid;
    background-color: #deebff;
}

.icone-filtre {
    margin-left: -15px;
    font-size: medium;
    color: #0065FC;
    background-color: #deebff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    transition: 0.3s transform;
}

button.btn-filtre {
    display: flex;
    background-color: transparent;
    margin-left: 10px;
    text-align: right;
    border-radius: 20px;
}

.box-btn-filtre:hover i.icone-filtre {
    color: #f2f2f2;
    background-color: #0065FC;
    box-shadow: 7px 7px 7px 0px rgba(0, 0, 0, 0.2);
    /*box oriente a gauches*/
    font-size: large;
    transform: scale(1.2);
}

.box-info {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px 20px 20px 0px;
    width: 100%;
}

.fa-info {
    color: #0065FC;
    background-color: #ffffff;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.7em;
    margin-right: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.bloc-central {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

#hebergement-titre {
    flex-basis: 100%;
    margin: 20px 0px 10px 15px;
}

.galerie-hebergement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    width: 60%;
    height: auto;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.box-galerie-hebergement h4 {
    margin: 10px;
    width: 100%;
    text-align: left;
    order: 2;
}

.box-galerie-hebergement {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 30%;
    height: min-content;
    margin-bottom: 10px;
    overflow: hidden;
    border: 5px solid #ffffff;
    border-radius: 20px;
    transition: 0.3s ease-in-out transform;
    box-shadow: 0px 4px 20px #ccc;
}

.box-galerie-hebergement:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 2px 20px #777;
}

.img-galerie-hebergement {
    height: 100px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.prix-hebergement {
    display: flex;
    order: 3;
    margin-left: 10px;
    margin-top: -5px;
    margin-bottom: 5px;
    text-align: left;
    width: auto;
}

p.etoile-hebergement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    order: 4;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 15px;
    width: 15px;
}

.fa-star {
    font-size: small;
    background: none;
    width: auto;
}

.star {
    color: #f2f2f2;
}

.star-active {
    color: #0065FC;
}

a#hebergement-plus {
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 0px 10px;
    padding-left: 10px;
    width: 100%;
    font-weight: bold;
    text-align: left;
}

a#hebergement-plus:visited {
    color: #000000;
}

#box-populaire-titre {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0px 10px 15px;
}

section.galerie-populaire h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fa-chart-line {
    width: auto;
}

.galerie-populaire {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
}

.box-galerie-populaire {
    display: flex;
    background-color: #ffffff;
    width: 100%;
    overflow: hidden;
    border: 5px solid #ffffff;
    margin: 5px 5px 10px 5px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s transform;
}

.box-galerie-populaire:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s transform;
}

.img-galerie-populaire {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.identite-populaire {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 20px;
    text-align: left;
    width: 100%;
    margin: auto;
}

.box-galerie-populaire h4 {
    text-align: left;
    flex-basis: 100%;
    height: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.identite-populaire p
/*choisir entre span et p et uniformiser les deux galeries et verifier le html*/

    {
    width: 100%;
}

.prix-populaire {
    padding-top: 10px;
    padding-bottom: 10px;
}

p.etoile-populaire
/*choisir entre span et p et uniformiser les deux galeries*/

    {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    height: 15px;
    width: 10%;
}

/* galerie activite*/

.galerie-activite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

#activite-titre {
    flex-basis: 100%;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.bloc-activite {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 50px;
}

.box-galerie-activite-portrait {
    display: flex;
    flex-direction: column-reverse;
    height: 400px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s transform;
}

.box-galerie-activite-portrait:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.img-activite-portrait {
    height: 350px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
    background-size: cover;
}

.bloc-galerie-activite-paysage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 300px;
    align-items: center;
    justify-content: space-between;
}

.box-galerie-activite-paysage-pomegue {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px 20px 20px 20px;
    height: 200px;
    width: 270px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s transform;
}

.box-galerie-activite-paysage-pomegue:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.img-activite-paysage-pomegue {
    border-radius: 20px 20px 0px 0px;
    height: 150px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.box-galerie-activite-paysage-ile {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 20px 20px 20px 20px;
    height: 150px;
    width: 270px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s transform;
}

.box-galerie-activite-paysage-ile:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.img-activite-paysage-ile {
    border-radius: 20px 20px 0px 0px;
    height: 100px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.box-galerie-activite-paysage {
    display: flex;
    flex-direction: column-reverse;
    height: 180px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s transform;
}

.box-galerie-activite-paysage:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}

.img-activite-paysage {
    height: 130px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
    background-size: cover;
}

.bloc-activite h4.paragraphe-activite {
    text-align: left;
    padding: 10px;
    margin: 5px;
}

footer {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.bloc-footer {
    display: flex;
    width: 100%;
    max-width: 1400px;
}

footer h4 {
    font-weight: bold;
    padding-bottom: 5px;
}

.box-footer a {
    display: flex;
    margin: 10px 0px;
    font-weight: 400;
    font-size: small;
    text-decoration: none;
    color: black;
}

.box-footer {
    width: 30%;
    margin: 30px 20px 45px 35px;
}

@media screen and (min-width:1400px)
/*grands ecrans*/

    {
    .max {
        max-width: 1460px;
        margin: auto;
    }
    .img-galerie-populaire {
        min-height: 127px;
    }
}

@media screen and (min-width:1024px) and (max-width:1232px)
/* tablettes ipad pro/large*/

    {
    .fa-star {
        width: 45px
    }
    .box-recherche {
        width: min-content;
    }
    .box-filtre {
        width: 90%;
    }
    .bloc-central {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        background-color: #ffffff;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
    }
    #hebergement-titre {
        display: flex;
        flex-basis: 100%;
        margin: 20px 0px 10px 15px;
    }
    .galerie-hebergement {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
        flex-wrap: wrap;
        border-radius: 20px;
        width: 100%;
        height: auto;
        padding: 0px 0px 20px 0px;
        background-color: #ffffff;
        box-shadow: 0px 4px 20px #ccc;
    }
    .box-galerie-hebergement {
        background-color: #ffffff;
        width: 30%;
        margin-top: 15px;
        overflow: hidden;
        height: auto;
        border: 5px solid #ffffff;
        border-radius: 20px;
        transition: 0.3s ease-in-out transform;
        box-shadow: 0px 4px 20px #ccc;
    }
    .img-galerie-hebergement {
        height: 100px;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    #box-populaire-titre {
        padding-bottom: 10px;
        margin: 20px 10px 10px 15px;
    }
    .galerie-populaire {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        background-color: #F2F2F2;
        padding: 0px 0px 30px 0px;
        border-radius: 20px;
    }
    .box-galerie-populaire {
        display: flex;
        background-color: #ffffff;
        width: 30%;
        min-height: 180px;
        /* resolution box de la meme taille en version ipad*/
        overflow: hidden;
        border: 5px solid #ffffff;
        margin: 0px;
        border-radius: 20px;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        transition: 0.3s transform;
    }
    .identite-populaire {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 10px;
        text-align: left;
        width: 40%;
        margin: 0px;
    }
    #activite-titre {
        flex-basis: 95%;
        margin-left: 0px;
    }
    .bloc-central-activite {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc-activite {
        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bloc-galerie-activite-paysage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .bloc-activite .paragraphe-activite {
        margin: 0px;
        width: 100%;
    }
    .box-galerie-activite-portrait {
        height: 180px;
        width: 40%;
        margin: 10px;
        order: 2;
    }
    .box-galerie-activite-paysage {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .box-galerie-activite-paysage-pomegue {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .box-galerie-activite-paysage-ile {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .img-activite-portrait {
        height: 130px;
        width: 100%;
    }
    .img-activite-paysage-pomegue {
        height: 130px;
        width: 100%;
    }
    .img-activite-paysage-ile {
        height: 130px;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px)
/*tablette petite / moyenne*/

    {
    .box-filtre {
        width: 90%;
    }
    .bloc-central {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        background-color: #ffffff;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .galerie-hebergement {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 20px;
        width: 100%;
        height: auto;
        padding: 0px 0px 20px 0px;
        background-color: #ffffff;
        box-shadow: 0px 4px 20px #ccc;
    }
    .box-galerie-hebergement {
        background-color: #ffffff;
        width: 30%;
        height: auto;
        margin-top: 15px;
        overflow: hidden;
        border: 5px solid #ffffff;
        border-radius: 20px;
        transition: 0.3s ease-in-out transform;
        box-shadow: 0px 4px 20px #ccc;
    }
    #box-populaire-titre {
        padding-bottom: 10px;
        margin: 20px 10px 10px 15px;
    }
    .galerie-populaire {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        background-color: #F2F2F2;
        margin-bottom: 30px;
        padding: 0px 0px 30px 0px;
        border-radius: 20px;
    }
    .box-galerie-populaire {
        display: flex;
        background-color: #ffffff;
        width: 30%;
        margin: 0px;
        min-height: 180px;
        border: 5px solid #ffffff;
        text-align: center;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        transition: 0.3s transform;
    }
    .identite-populaire {
        width: 70%;
        margin: auto;
        padding-left: 10px;
    }
    .bloc-central-activite {
        padding-left: 20px;
        padding-right: 20px;
    }
    .bloc-activite {
        display: flex;
        margin-bottom: 50px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bloc-galerie-activite-paysage {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .bloc-activite .paragraphe-activite {
        margin: 0px;
        width: 100%;
    }
    .box-galerie-activite-portrait {
        height: 180px;
        width: 40%;
        margin: 10px;
        order: 2;
    }
    .box-galerie-activite-paysage {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .box-galerie-activite-paysage-pomegue {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .box-galerie-activite-paysage-ile {
        height: 180px;
        width: 40%;
        margin: 10px;
    }
    .img-activite-portrait {
        height: 130px;
        width: 100%;
    }
    .img-activite-paysage-pomegue {
        height: 130px;
        width: 100%;
    }
    .img-activite-paysage-ile {
        height: 130px;
        width: 100%;
    }
}

@media screen and (max-width: 767px)
/*les mobiles*/

    {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    .box-recherche {
        border: 1px solid #F2F2F2;
        width: auto;
        border-radius: 15px;
        overflow: hidden;
    }
    .box-recherche:hover #bar-recherche {
        box-shadow: none;
    }
    .box-recherche:hover .fa-map-marker-alt {
        box-shadow: none;
    }
    .box-recherche:hover #btn-rechercher {
        box-shadow: none;
    }
    #btn-rechercher {
        border-radius: 15px 0px 0px 15px;
    }
    #btn-rechercher .fa-search {
        display: flex;
    }
    #btn-rechercher span {
        display: none;
    }
    #bar-recherche {
        border: none;
        flex: 1;
    }
    .fa-map-marker-alt {
        border-radius: 0px;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        width: 100%;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    #inscription:nth-child(1) {
        order: 0;
    }
    #inscription {
        width: 50%;
        padding: 0px;
    }
    ul {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    ul li {
        text-align: center;
        padding: 0px 0px 10px 0px;
        width: 50%;
        border-bottom: 4px solid #f2f2f2;
    }
    ul li:hover {
        border-bottom: 4px solid #0065FC;
    }
    a#hebergement-ancre {
        color: #000000;
        padding: 0px;
    }
    a#activite-ancre {
        color: #000000;
        padding: 0px;
    }
    nav ul li a:hover {
        border-top: none;
    }
    section h2 {
        margin-bottom: 10px;
        font-size: none;
        width: 100%;
    }
    header.box-bienvenu {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 85%;
        margin: 15px;
    }
    .box-bienvenu {
        padding: 0px;
    }
    #filtre-titre {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .box-filtre {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 80%;
        margin-top: 0px;
        padding: 10px 0px 0px 0px;
    }
    .box-btn-filtre {
        margin-bottom: 10px;
    }
    .box-info {
        flex-wrap: nowrap;
        padding: 0px 0px 20px 0px;
    }
    .bloc-central {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }
    #box-populaire-titre {
        width: 95%;
        padding-bottom: 10px;
        padding-top: 10px;
        margin: 20px 0px 10px 20px;
    }
    .fa-chart-line {
        padding-right: 10px;
    }
    .galerie-populaire {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        padding: 0px;
    }
    .box-galerie-populaire {
        width: 90%;
        margin: 0px;
        margin-bottom: 20px;
    }
    .identite-populaire {
        width: 100%;
    }
    #hebergement-titre {
        width: 100%;
        margin: 20px 0px 10px 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .galerie-hebergement {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
    }
    .box-galerie-hebergement {
        width: 90%;
        margin-bottom: 20px;
    }
    a#hebergement-plus {
        margin-bottom: 20px;
    }
    #activite-titre {
        flex-basis: 95%;
        margin-left: 0px;
    }
    .bloc-activite {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .bloc-galerie-activite-portrait {
        width: 100%;
    }
    .box-galerie-activite-portrait {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }
    .img-activite-portrait {
        height: 150px;
        width: 100%;
    }
    .bloc-galerie-activite-paysage {
        flex-wrap: wrap;
        width: 100%;
    }
    .box-galerie-activite-paysage-pomegue {
        height: auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-activite-paysage-pomegue {
        height: 150px;
        width: 100%;
    }
    .box-galerie-activite-paysage {
        height: auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-activite-paysage {
        height: 150px;
        width: 100%;
    }
    .box-galerie-activite-paysage-ile {
        height: auto;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .img-activite-paysage-ile {
        height: 150px;
        width: 100%;
    }
    .bloc-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .box-footer {
        width: auto;
        margin: 20px 20px 10px 35px;
    }
}